@charset "utf8";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
  background-color: #eee;
}

div.centerColumn {
  max-width: 960;
  margin: auto;
  position: relative;
}

div.headerBar {
  background-color: #fff;
}

div.headerBar div.centerColumn {
  height: 90;
}

div.headerBar h1 {
  position: absolute;
  margin-bottom: 10;
  bottom: 0;
  color: black;
}

div.linkIcons {
  position: absolute;
  right: 0;
  bottom: 0;
}

a.linkIcon {
  float: left;
  margin: 0 0 15 15;
}

a.linkIcon img {
  width: 26;
  height: 26;
}

div#joinTheaterError {
  visibility: hidden;
  background-color: #ddd;
  color: red;
  padding: 20 30;
  border: 1px #aaa solid;
  border-radius: 5px;
  position: absolute;
  top: -20;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

div.actionBar {
  background-color: #333;
}

div.actionBarRight {
  float: right;
}

div.actionButton {
  background-color: #444;
  display: inline-block;
  margin: 10 20 10 0;
  padding: 20 30;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

div.actionButtonRight {
  margin: 10 0 10 20;
}

div.actionButton:hover {
  background-color: #666;
}

div.actionButton input {
  margin-left: 10;
}

div.footer {
  margin-top: 30;
  font-style: italic;
  color: #999;
}

div.footer a {
  margin-left: 20;
  color: #999;
  text-decoration: none;
}

div.footer a:hover {
  text-decoration: underline;
  color: #555;
}

div.bookmarklet {
  background-color: white;
  border: 1px #aaa solid;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5 10;
}

div.bookmarklet:hover {
  background-color: #ddd;
}

img#bookmarkletImg {
  width: 34;
  height: 34;
}

p#bookmarkletText {
  display: none;
}

div.searchButton {
  background-color: #def;
  display: inline-block;
  margin: 0 10 10 0;
  padding: 10;
  border: 1px #aaa solid;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

div#searchOptions {
  width: 960px;
  white-space: nowrap;
  margin-top: 30;
}

div.searchButton:hover {
  background-color: #7bf;
}

div.searchSelected, div.searchSelected:hover {
  background-color: #16c;
  color: white;
}

div.searchRow {
  width: 100%;
  max-width: 960;
  position: relative;
  margin: 0 0 20 0;
  height: 46;
}

div.searchInputHolder {
  position: absolute;
  top: 0;
  left: 0px;
  right: 56px;
}

input.searchInput {
  box-sizing: border-box;
  padding: 10;
  width: 100%;
  font-size: large;
  height: 46;
}

input.searchInput::placeholder {
  color: #aaa;
}

button.searchImgHolder {
  padding: 10 15;
  border: 1px #aaa solid;
  background-color: #ddd;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

button.searchImgHolder:hover {
  background-color: #ccc;
}

button.searchImgHolder img {
  opacity: 0.5;
}

button.searchImgHolder:hover img {
  opacity: 1.0;
}

div.searchResults {
  max-width: 960;
  position: relative;
}

div.searchResults > div {
  position: absolute;
  top: 0;
}

div#youtubeResults {
  left: 0;
  width: 726;
}

div#nicovideoResults {
  right: 0;
  width: 640;
}

div.resultRow, .resultImg {
  height: 180;
  box-sizing: border-box;
}

div.resultRow {
  position: relative;
  margin: 20 0;
}

div#youtubeResults div.resultRow {
  width: 726;
}

div#nicovideoResults div.resultRow {
  width: 640;
}

img.resultImg {
  display: inline-block;
}

div.resultTitle {
  display: inline-block;
  background-color: #ccc;
  overflow: hidden;
  font-weight: bold;
  box-sizing: border-box;
  width: 386;
  height: 80;
}

div#youtubeResults .resultImg {
  width: 320;
  border-width: 5px;
}

div#youtubeResults div.resultTitle {
  vertical-align: top;
  margin: 0 20 0 0;
  padding: 5 20 5 40;
  border-width: 5px 5px 5px 0px;
}

div#nicovideoResults .resultImg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 234;
  border-width: 5px;
}

div#nicovideoResults div.resultTitle {
  position: absolute;
  right: 234;
  bottom: 0;
  margin: 0 0 0 20;
  padding: 5 40 5 20;
  border-width: 5px 0px 5px 5px;
}

div.resultButton, div.resultHandler {
  background-color: transparent;
  position: absolute;
}

div.resultButton {
  z-index: 1;
}

div.resultHandler {
  z-index: 2;
  cursor: pointer;
}

div.resultHandler:hover~div.resultButton {
  background-color: rgba(119, 187, 255, 0.25);
  border-color: rgba(119, 187, 255, 0.75);
  border-style: solid;
}

div.resultSelected div.resultHandler:hover~div.resultButton {
  background-color: rgba(17, 102, 204, 0.25);
  border-color: rgba(17, 102, 204, 0.75);
}

div#youtubeResults div.resultImg.resultButton,
div#youtubeResults div.resultImg.resultHandler {
  left: 0;
  top: 0;
}

div#youtubeResults div.resultTitle.resultButton,
div#youtubeResults div.resultTitle.resultHandler {
  left: 320;
  top: 0;
}

div.aboutLeftCol, div.aboutRightCol, div.aboutCenterCol {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

div.aboutLeftCol {
  padding-right: 5;
}

div.aboutRightCol {
  padding-left: 5;

}

div.aboutTwoCol div.aboutLeftCol {
  width: 480;
}

div.aboutTwoCol div.aboutRightCol {
  width: 480;
}

div.aboutThreeCol div.aboutLeftCol {
  width: 320;
}

div.aboutThreeCol div.aboutRightCol {
  width: 320;
}

div.aboutThreeCol div.aboutCenterCol {
  width: 320;
}

div.aboutRow>img {
  box-sizing: border-box;
  width: 960;
  border: 2px gray solid;
  border-radius: 5px;
}
